<html>
	<head>
		<title>Aprendendo Node com Gonode</title>
	</head>
	<body>
	   <form action="/check" method="POST">
		<input type="text" name="username"/>
		<input type="date" name="DATA_NASCIMENTO"/>
    <button type="submit">Validar</button>
	   </form>
	</body>
</html>
